*.pyc
*.crt
*.key
*.log
*.DS_Store
python/py_client/__pycache__
python/py_client/users
python/__pycache__
*.pyc
*.pyc
elixir/deps
elixir/_build
python/.ipynb_checkpoints
python/Untitled.ipynb
docs/site
showcase_website/documents
showcase_website/images/PaulBarry.jpg
showcase_website/images/Lily.jpg
python/.mutmut-cache
python/htmlcov
python/html
python/helpful_commands.yaml
